DATABASE_URL="postgresql://rti:rti@localhost:5432/rti_payments?schema=public"
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="15m"
INTERNAL_SERVICE_TOKEN="change-me-shared-internal-token"
IDENTITY_SERVICE_URL="http://localhost:3001"
MERCHANTS_SERVICE_URL="http://localhost:3002"
LOYALTY_SERVICE_URL="http://localhost:3004"
PORT=3003
NODE_ENV="development"
