NEXT_PUBLIC_IDENTITY_API_URL="http://localhost:3001"
NEXT_PUBLIC_MERCHANTS_API_URL="http://localhost:3002"
NEXT_PUBLIC_PAYMENTS_API_URL="http://localhost:3003"
NEXT_PUBLIC_LOYALTY_API_URL="http://localhost:3004"
